@import "tailwindcss";

@layer base {
  html {
    background-color: #cccccc;
  }

  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  h5 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}
