---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "About";

const categories = [
  "Software",
  "Engineering",
  "Robot",
  "IoT",
  "Game",
  "Comic Art",
];
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}: このブログについて</h1>
  <p>このブログは練習用です。</p>

  <ul>
    {categories.map((category) => <li>{category}</li>)}
  </ul>
</BaseLayout>
