---
const pageTitle = "About"

const categories = ["Software", "Engineering", "Robot", "IoT", "Game", "Comic Art"]

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <h1>{pageTitle}: このブログについて</h1>
        <p>このブログは練習用です。</p>

        <ul>
          {categories.map((category) => <li>{category}</li>)}
        </ul>
	</body>
</html>
